@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.woff2') format('woff2'),
       url('../fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
       url('../fonts/Gilroy-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
       url('../fonts/Gilroy-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
       url('../fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 850;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
       url('../fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
       url('../fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
       url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

:root {
  --color-background: #f2f3f4;
  --color-foreground: #202020;

  --color-yellow-1: oklch(95.4% 0.0033 91.35);
  --color-yellow-2: oklch(94.4% 0.024 91.35);
  --color-yellow-3: oklch(92.5% 0.0719 91.35);
  --color-yellow-4: oklch(89.9% 0.1062 91.35);
  --color-yellow-5: oklch(86.9% 0.1336 91.35);
  --color-yellow-6: oklch(82.7% 0.1248 91.35);
  --color-yellow-7: oklch(77.3% 0.1198 91.35);
  --color-yellow-8: oklch(70.2% 0.137 91.35);
  --color-yellow-9: oklch(81.5% 0.1813 91.35);
  --color-yellow-10: oklch(78.2% 0.1688 91.35);
  --color-yellow-11: oklch(51.4% 0.1392 91.35);
  --color-yellow-12: oklch(35.3% 0.0457 91.35);

  --color-yellow-a1: #d3941508;
  --color-yellow-a2: #f3b1081b;
  --color-yellow-a3: #ffd56276;
  --color-yellow-a4: #ffc20f76;
  --color-yellow-a5: #ff1b0028;
  --color-yellow-a6: #dba5009c;
  --color-yellow-a7: #c09102a9;
  --color-yellow-a8: #b78f00e2;
  --color-yellow-a9: #eebc00;
  --color-yellow-a10: #e0b200;
  --color-yellow-indicator: oklch(81.5% 0.1813 91.35);
  --color-yellow-track: oklch(81.5% 0.1813 91.35);

  --color-yellow-contrast: #292109;
  --color-yellow-surface: #f3ead5cc;
  --color-yellow-indicator: #eebc00;
  --color-yellow-track: #eebc00;

  --color-gray-1: oklch(95.4% 0 none);
  --color-gray-2: oklch(94% 0 none);
  --color-gray-3: oklch(91% 0 none);
  --color-gray-4: oklch(88.4% 0 none);
  --color-gray-5: oklch(85.9% 0 none);
  --color-gray-6: oklch(83.2% 0 none);
  --color-gray-7: oklch(79.6% 0 none);
  --color-gray-8: oklch(73.3% 0 none);
  --color-gray-9: oklch(58.1% 0 none);
  --color-gray-10: oklch(54.6% 0 none);
  --color-gray-11: oklch(44.1% 0 none);
  --color-gray-12: oklch(24.3% 0 none);
  --color-gray-13: oklch(96.367% 0.00182 249.214);

  --color-gray-a1: #8d5b2805;
  --color-gray-a2: #3f280f0a;
  --color-gray-a3: #1a0e0214;
  --color-gray-a4: #170f071d;
  --color-gray-a5: #0e090326;
  --color-gray-a6: #0a05012e;
  --color-gray-a7: #0906023b;
  --color-gray-a8: #0704024f;
  --color-gray-a9: #0403027f;
  --color-gray-a10: #0201008a;
  --color-gray-a11: #020202a9;
  --color-gray-a12: #010100de;

  --color-gray-contrast: #FFFFFF;
  --color-gray-surface: #ffffffcc;
  --color-gray-indicator: oklch(58.1% 0 none);
  --color-gray-track: oklch(58.1% 0 none);
  --color-gray-shadow: rgba(0, 0, 0, 0.02);

  --color-red-5: #F7585B;
}

@theme inline {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-yellow-1: var(--color-yellow-1);
  --color-yellow-2: var(--color-yellow-2);
  --color-yellow-3: var(--color-yellow-3);
  --color-yellow-4: var(--color-yellow-4);
  --color-yellow-5: var(--color-yellow-5);
  --color-yellow-6: var(--color-yellow-6);
  --color-yellow-7: var(--color-yellow-7);
  --color-yellow-8: var(--color-yellow-8);
  --color-yellow-9: var(--color-yellow-9);
  --color-yellow-10: var(--color-yellow-10);
  --color-yellow-11: var(--color-yellow-11);
  --color-yellow-12: var(--color-yellow-12);

  --color-yellow-a1: var(--color-yellow-a1);
  --color-yellow-a2: var(--color-yellow-a2);
  --color-yellow-a3: var(--color-yellow-a3);
  --color-yellow-a4: var(--color-yellow-a4);
  --color-yellow-a5: var(--color-yellow-a5);
  --color-yellow-a6: var(--color-yellow-a6);
  --color-yellow-a7: var(--color-yellow-a7);
  --color-yellow-a8: var(--color-yellow-a8);
  --color-yellow-a9: var(--color-yellow-a9);
  --color-yellow-a10: var(--color-yellow-a10);
  --color-yellow-a11: var(--color-yellow-a11);
  --color-yellow-a12: var(--color-yellow-a12);
  --color-gray-13: var(--color-gray-13);

  --color-yellow-contrast: var(--color-yellow-contrast);
  --color-yellow-surface: var(--color-yellow-surface);
  --color-yellow-indicator: var(--color-yellow-indicator);
  --color-yellow-track: var(--color-yellow-track);

  --color-gray-1: var(--color-gray-1);
  --color-gray-2: var(--color-gray-2);
  --color-gray-3: var(--color-gray-3);
  --color-gray-4: var(--color-gray-4);
  --color-gray-5: var(--color-gray-5);
  --color-gray-6: var(--color-gray-6);
  --color-gray-7: var(--color-gray-7);
  --color-gray-8: var(--color-gray-8);
  --color-gray-9: var(--color-gray-9);
  --color-gray-10: var(--color-gray-10);
  --color-gray-11: var(--color-gray-11);
  --color-gray-12: var(--color-gray-12);

  --color-gray-a1: var(--color-gray-a1);
  --color-gray-a2: var(--color-gray-a2);
  --color-gray-a3: var(--color-gray-a3);
  --color-gray-a4: var(--color-gray-a4);
  --color-gray-a5: var(--color-gray-a5);
  --color-gray-a6: var(--color-gray-a6);
  --color-gray-a7: var(--color-gray-a7);
  --color-gray-a8: var(--color-gray-a8);
  --color-gray-a9: var(--color-gray-a9);
  --color-gray-a10: var(--color-gray-a10);
  --color-gray-a11: var(--color-gray-a11);
  --color-gray-a12: var(--color-gray-a12);

  --color-gray-contrast: var(--color-gray-contrast);
  --color-gray-surface: var(--color-gray-surface);
  --color-gray-indicator: var(--color-gray-indicator);
  --color-gray-track: var(--color-gray-track);
  --color-gray-shadow: var(--color-gray-shadow);

  --color-red-5: var(--color-red-5);
}

.dark {
  --color-background: #030002;
  --color-foreground: #FFFFFFEE;

  --color-yellow-1: oklch(6.6% 0.0122 91.35);
  --color-yellow-2: oklch(19.2% 0.0173 91.35);
  --color-yellow-3: oklch(24.8% 0.0423 91.35);
  --color-yellow-4: oklch(29.1% 0.0688 91.35);
  --color-yellow-5: oklch(33.4% 0.0782 91.35);
  --color-yellow-6: oklch(38.5% 0.0756 91.35);
  --color-yellow-7: oklch(45.2% 0.0788 91.35);
  --color-yellow-8: oklch(53.6% 0.0929 91.35);
  --color-yellow-9: oklch(84.6% 0.1688 91.35);
  --color-yellow-10: oklch(81.4% 0.1688 91.35);
  --color-yellow-11: oklch(87.2% 0.1688 91.35);
  --color-yellow-12: oklch(93.5% 0.0691 91.35);

  --color-yellow-a1: #00ff0001;
  --color-yellow-a2: #f6f37015;
  --color-yellow-a3: #fbd21d27;
  --color-yellow-a4: #fec20036;
  --color-yellow-a5: #ffc60043;
  --color-yellow-a6: #ffd00f51;
  --color-yellow-a7: #fdd53f65;
  --color-yellow-a8: #ffd64680;
  --color-yellow-a9: #ffcf1bf5;
  --color-yellow-a10: #ffce00ea;
  --color-yellow-a11: #ffd12cfe;
  --color-yellow-a12: #ffedb8fb;

  --color-yellow-contrast: #292109;
  --color-yellow-surface: #2b281480;
  --color-yellow-indicator: oklch(84.6% 0.1688 91.35);
  --color-yellow-track: oklch(84.6% 0.1688 91.35);

  --color-gray-1: oklch(6.6% 0 none);
  --color-gray-2: oklch(19.5% 0 none);
  --color-gray-3: oklch(24.5% 0 none);
  --color-gray-4: oklch(27.8% 0 none);
  --color-gray-5: oklch(31% 0 none);
  --color-gray-6: oklch(34.8% 0 none);
  --color-gray-7: oklch(40.2% 0 none);
  --color-gray-8: oklch(48.7% 0 none);
  --color-gray-9: oklch(53.8% 0 none);
  --color-gray-10: oklch(58.4% 0 none);
  --color-gray-11: oklch(77% 0 none);
  --color-gray-12: oklch(94.9% 0 none);
  --color-gray-13: oklch(96.367% 0.00182 249.214);

  --color-gray-a1: #00ff0001;
  --color-gray-a2: #deffe915;
  --color-gray-a3: #ebfff220;
  --color-gray-a4: #effff528;
  --color-gray-a5: #f3fff730;
  --color-gray-a6: #f5fff83a;
  --color-gray-a7: #f8fffa48;
  --color-gray-a8: #fbfffc60;
  --color-gray-a9: #fbfffd6e;
  --color-gray-a10: #fbfffd7b;
  --color-gray-a11: #fefffeb4;
  --color-gray-a12: #ffffffee;

  --color-gray-contrast: #FFFFFF;
  --color-gray-surface: rgba(0, 0, 0, 0.05);
  --color-gray-indicator: oklch(53.8% 0 none);
  --color-gray-track: oklch(53.8% 0 none);
  --color-gray-shadow: rgba(0, 0, 0, 0.05);

  --color-red-5: #F7585B;
}

@theme {
  --font-gilroy: "Gilroy";

  --text-sm: 15px;
  
  --radius-sm: 15px;
  --radius-5xl: 42px;

  --shadow-input: 0 4px 10px 0 var(--color-gray-shadow);
}

@utility container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@layer base {
  body {
    height: 100vh;
    background: var(--color-background);
    color: var(--color-foreground);
    font-size: 16px;
    font-family: var(--font-gilroy);
    font-weight: 400;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
  }
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .app {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  input, textarea {
    outline: none;
  }

  /* ... */
}

@theme {
  --font-display: "your_font", "sans-serif";

  /* breakpoints */
  --breakpoint-3xl: 120rem;

  /* colors */
  --color-your: #baeabd

  /* ... */
}

@theme extend {
  --font-family-display: Poppins, sans-serif; 
}

/* your custom utilities */
@utility container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}